<div class="chat_container">
  <div id="chat_room">
    <p class="alert"> Welcome to the chat room <%= session[:username] %>! </p>
    <p class="alert"> Type @username to send private message to the username.</p>
  </div>
 
  <%= form_tag new_message_path, :remote => true do %>
    <%= text_field_tag :message %>
    <%= submit_tag "Send" %>
  <% end %>
</div>

<%= subscribe_to "/messages/public" %>
<%= subscribe_to "/messages/private/#{session[:username]}" %>

<script>
  $(function() {
    var username = '<%= session[:username] %>';

    // A helper to format the username.
    window.format_username = function(msg_username) {
      if(msg_username == username)
          msg_username = msg_username + " (me)";
      return msg_username;
    }

    PrivatePub.subscribe("/messages/public", function(data) {
      $("<p></p>").html(format_username(data.username)+ ": " + data.msg).appendTo('#chat_room');
    });

    PrivatePub.subscribe("/messages/private/<%= session[:username] %>", function(data) {
      $("<p></p>").addClass('private').html(format_username(data.username) + ": " + data.msg).appendTo('#chat_room');
    });
  });
</script>
